<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
   version="6.0"
   metadata-complete="false">
    <display-name>ArgoMachineManagement</display-name>
    
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>com.mycompany.argomachinemanagement.src.controller.user.ListUserController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/list-user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddUserController</servlet-name>
        <servlet-class>com.mycompany.argomachinemanagement.src.controller.user.AddUserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserController</servlet-name>
        <url-pattern>/add-user</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>com.mycompany.argomachinemanagement.src.controller.dashboard.admin.ManageAccountController</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/manage-account</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!-- Welcome file list -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
